<div class="container mt-5 table-responsive">
    <button type="button" id="hackerone_button" class="dashrow btn btn-primary mb-2">Refresh</button>
    <table id="hackerone_table" class="table table-hover align-middle text-center">
        <thead class="text-center">
            <tr>
                <th>Name</th>
                <th>Product</th>
                <th>Level</th>
                <th>Date</th>
                <th>Search</th>
                <th>Save</th>
            </tr>
        </thead>
    </table>
</div>